.select,
.option {
    cursor: pointer;
    transition: var(--anim-fast);
}

.select {
    border-radius: var(--border-rad-font-half);
    background-color: var(--color-ui-white);
    width: 100%;
    max-width: 100%;
}


.select:active {
    background-color: var(--color-ui-active);
}

@media (orientation: landscape) {
    .select {
        padding: var(--ui-padding);
    }
}

@media (orientation: portrait) {

    .select {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }
}


@media (hover:hover) {

    .select:hover {
        background-color: var(--color-ui-hover);
    }
}

@media (hover:none) {

    .select:active {
        background-color: var(--color-ui-hover);
    }
}