.Statistics {
    display: grid;
    grid-template-rows: auto 1fr auto;
    gap: 1em
}

.tables {
    overflow-y: auto;
    /* TODO: Think about more flexible variant */
    max-height: 250px;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1em;
}