.Timer {
    text-align: center;
    font-weight: 500;
    box-sizing: border-box;
    border: 2px solid;
    border-radius: var(--ui-element-padding);
    padding-left: var(--ui-element-padding);
    padding-right: var(--ui-element-padding);
    height: var(--ui-element-height);
    display: flex;
    justify-self: center;
    align-items: center;
    transition: var(--anim-fast);
    -webkit-user-select: none;
    user-select: none;
}

.Timer.halfMinute {
    color: var(--color-orange-dark);
    box-shadow: inset 0 0 10px 0 var(--color-orange-dark);
    animation: orange-alert ease 2s infinite;
}

.Timer.criticalTime {
    color: var(--color-red-dark);
    box-shadow: inset 0 0 20px 5px var(--color-red-light);
    animation: red-alert ease 1s infinite;
}

.Timer.timeOut {
    color: var(--color-red-dark);
    box-shadow:
        inset 0 0 20px 2px var(--color-red-dark),
        0 0 20px 2px var(--color-red-dark);
}

@keyframes orange-alert {
    0% {
        box-shadow: 0 0 5px 0px var(--color-orange-dark), inset 0 0 10px 0px var(--color-orange-dark);
        color: var(--color-orange-dark)
    }

    50% {
        box-shadow: 0 0 10px 1px var(--color-orange-dark), inset 0 0 10px 0px var(--color-orange-dark);
        color: var(--color-black);
    }

    100% {
        box-shadow: 0 0 5px 0px var(--color-orange-dark), inset 0 0 10px 0px var(--color-orange-dark);
        color: var(--color-orange-dark);
    }
}

@keyframes red-alert {
    0% {
        box-shadow: 0 0 10px 2px var(--color-red-dark), inset 0 0 20px 2px var(--color-red-dark);
        color: var(--color-red-dark);
    }

    50% {
        box-shadow: 0 0 20px 5px var(--color-red-light), inset 0 0 20px 5px var(--color-red-light);
        color: var(--color-red-dark);
    }

    100% {
        box-shadow: 0 0 10px 2px transparent, inset 0 0 20px 2px transparent;
        color: transparent;
    }
}