.Result {
    display: grid;
    grid-template-rows: 1fr auto auto;
    gap: var(--ui-element-padding);
}

.congratulations {
    display: grid;
    grid-template-rows: auto 1fr;
}

.summary {
    display: grid;
    grid-template: 1fr auto / auto auto;
    gap: 0.5em 0;
}

.summary> :nth-child(-n + 2) {
    display: flex;
    align-items: flex-end;
}

.summary> :nth-child(2) {
    justify-content: flex-end;
}

.summary> :last-child {
    grid-column-start: span 2;
}

.buttons {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: var(--ui-element-padding);
}

.buttons a {
    width: 100%;
}