.AnswersForm {
    display: grid;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    gap: var(--ui-element-padding);
    grid-template-rows: 1fr auto auto;
}

.answers {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--ui-element-padding);
    align-items: center;
}

.answers> :nth-child(n + 3) {
    grid-row-start: 2;
}

/* Other inner elements */
.label {
    display: flex;
    padding: 0.5em;
    border-radius: 0.5em;
    border: 1px solid;
    -webkit-user-select: none;
    user-select: none;
    background-color: var(--color-ui-white);
    cursor: pointer;
    transition: var(--anim-fast);
    box-shadow: 0 0 3px 0px inset;
    overflow: hidden;
}

.label:hover {
    box-shadow: 0 0 5px 0px inset;
    background-color: var(--color-yellow-min);
}

.hiddenInput {
    display: none;
}

.hiddenInput:checked+.label {
    background-color: var(--color-yellow-light);
}

.hiddenInput:checked+.label:hover {
    background-color: var(--color-yellow-hover);
}