.ContentContainer {
    display: grid;
    position: relative;
    box-sizing: border-box;
    grid-template-rows: auto 1fr;
}

.content {
    display: grid;
    min-height: 100%;
    max-height: 100%;
}

@media (orientation: landscape) {
    .ContentContainer {
        width: 1000px;
        height: 500px;
        background-color: var(--color-bg-main);
        border-radius: 1em;
        border: 2px solid var(--color-border-main);
        box-shadow: 0 0 10px 1px var(--color-border-main);
        animation: shadow-resizer 5s infinite;
        padding: var(--ui-element-height);
    }
}

@media (orientation: portrait) {
    .ContentContainer {
        max-width: 100svw;
        min-width: 100svw;
        max-height: 100svh;
        min-height: 100svh;
        background-color: var(--color-bg-main-tr);
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        padding-top: 3.5rem;
        padding-bottom: 0.5rem;
    }
}



@keyframes shadow-resizer {
    0% {
        box-shadow: 0 0 10px 1px var(--color-border-main);
    }

    50% {
        box-shadow: 0 0 14px 2px var(--color-border-main);
    }
}