.CloseButtonContainer {
    position: absolute;
    top: 0;
    right: 1em;
}

.CloseButton {
    background-color: var(--color-red-light);
    transition: var(--anim-fast);
    border: none;
    border-radius: 0 0 50% 50%;
    width: var(--ui-element-height);
    height: var(--ui-element-height);
    font-family: 'Rubik Glitch Pop', sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    line-height: 1em;
    padding: var(--ui-element-padding);
}

.CloseButton:hover {
    background-color: var(--color-red-hover);
    box-shadow: inset 0 0 2px 0 var(--color-red-border);
}

.CloseButton:active {
    background-color: var(--color-red-active);
    box-shadow: inset 0 0 4px 0;
}

.CloseButton:disabled {
    background-color: var(--color-main-dark);
    cursor: default;
}