.Home {
    box-sizing: border-box;
    display: grid;
    grid-template-areas: "input selects" "buttons selects";
}

.selects {
    grid-area: selects;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.input {
    grid-area: input;
    display: flex;
    flex-direction: column;
}

.buttons {
    grid-area: buttons;
    display: flex;
    flex-direction: column;
}