.Home {
    box-sizing: border-box;
    display: grid;
}

.selects {
    grid-area: selects;
    display: grid;
    gap: 0.5rem;
}

.input {
    grid-area: input;
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    align-items: center;
}

.buttons {
    grid-area: buttons;
    display: grid;
    gap: var(--ui-element-padding);
}

@media (orientation: landscape) {
    .Home {
        grid-template-areas: "selects selects" "input buttons";
        grid-template-rows: auto auto;
    }

    .buttons {
        grid-template-columns: 1fr 1fr;
        align-self: flex-end;
        justify-self: flex-end;
    }
}

@media (orientation: portrait) {
    .Home {
        grid-template-areas: "selects selects" "input input" "buttons buttons";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto 1fr;
    }

    .input {
        justify-content: center;
        align-self: center;
    }

    .buttons {
        grid-template-columns: 1fr 1fr;
        align-self: center;
        justify-self: center;
    }
}