.Table {
    display: grid;
}

.tableName,
.row {
    padding-top: calc(var(--ui-element-padding) / 2);
    padding-bottom: calc(var(--ui-element-padding) / 2);
    display: grid;
    align-items: center;
}

.tableName {
    font-weight: 900;
    text-align: center;
    background-color: var(--color-ui-white);
}

.row {
    grid-template-columns: 1fr 1fr;
}

.row:nth-child(even) {
    background-color: var(--color-main-light);
}

.category,
.description {
    text-transform: capitalize;
    padding-left: var(--ui-element-padding);
    padding-right: var(--ui-element-padding);
}

.category {
    font-weight: 600;
    justify-self: flex-start;
}

.description {
    justify-self: flex-end;
}