.App {
    max-width: 100svw;
    min-width: 100svw;
    max-height: 100svh;
    min-height: 100svh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(5, 0, 35);
    background: linear-gradient(330deg, rgb(15, 170, 200) 0%,
            rgba(100, 5, 90, 1) 60%, rgba(5, 0, 35, 1) 100%);

    z-index: 0;
}

.App * {
    z-index: 1;
}