.AppNameHeader,
.AppNameFooter {
    margin: 0;
    position: absolute;
    font-size: 4rem;
    font-weight: 400;
    text-shadow: 5px 5px 10px;
    -webkit-user-select: none;
    user-select: none;
    z-index: 0;
    font-family: 'Rubik Glitch Pop', sans-serif;
}

.AppNameHeader {
    color: rgb(240, 240, 240);
    top: 0.5rem;
    left: 0.5rem;
    animation: header-color-anim 5s ease infinite;
}

.AppNameFooter {
    color: rgb(15, 15, 15);
    bottom: 0.5rem;
    right: 0.5rem;
    animation: footer-color-anim 6s ease infinite;
}

@media (orientation: landscape) {

    .AppNameHeader,
    .AppNameFooter {
        font-size: 4rem;
    }
}

@media (orientation: portrait) {

    .AppNameHeader,
    .AppNameFooter {
        font-size: 3rem;
    }
}


@keyframes header-color-anim {
    0% {
        color: rgb(240, 240, 240);
        text-shadow: 5px 5px 10px;
    }

    50% {
        color: rgb(200, 180, 200);
        text-shadow: 6px 6px 15px;
    }
}

@keyframes footer-color-anim {
    0% {
        color: rgb(15, 15, 15);
        text-shadow: 5px 5px 10px;
    }

    50% {
        color: rgb(30, 30, 50);
        text-shadow: 6px 6px 15px;
    }
}