.Game {
    display: grid;
    grid-template-rows: auto auto auto 4em auto auto;
    align-content: space-between;
}

.answers {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: var(--ui-element-padding)
}