.Game {
    display: grid;
    grid-template-rows: auto auto auto 4em auto;
    align-content: space-between;
}

.warning {
    color: rgba(255, 0, 0, 0.5);
    -webkit-user-select: none;
    user-select: none;
}