.Button {
    box-sizing: border-box;
    outline: none;
    border: 2px solid transparent;
    border-radius: var(--border-rad-font);
    font-weight: 600;
    cursor: pointer;
    transition: var(--anim-fast);
    width: 100%;
    padding-left: var(--ui-element-padding);
    padding-right: var(--ui-element-padding);
    line-height: 1em;
}

.Button.green {
    border-color: var(--color-green-border);
    background-color: var(--color-green-light-tr);
}


.Button.green:active {
    background-color: var(--color-green-active);
}

.Button.red {
    border-color: var(--color-red-border);
    background-color: var(--color-red-light-tr);
}


.Button.red:active {
    background-color: var(--color-red-active);
}


.Button.white {
    border-color: var(--color-ui-border);
    background-color: var(--color-ui-white);
}


.Button.white:active {
    background-color: var(--color-ui-active);
}

.Button.green:active,
.Button.red:active,
.Button.white:active {
    box-shadow: 0 0 15px 5px var(--color-text-white);
}

@media (orientation: landscape) {
    .Button {
        height: var(--ui-element-height);
    }
}

@media (orientation: portrait) {
    .Button {
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }
}


@media (hover:hover) {
    .Button.green:hover {
        background-color: var(--color-green-hover);
    }

    .Button.red:hover {
        background-color: var(--color-red-hover);
    }

    .Button.white:hover {
        background-color: var(--color-ui-hover);
    }

    .Button.green:hover,
    .Button.red:hover,
    .Button.white:hover {
        box-shadow: 0 0 10px 1px var(--color-text-white);
    }
}

@media (hover:none) {
    .Button.green:active {
        background-color: var(--color-green-hover);
    }

    .Button.red:active {
        background-color: var(--color-red-hover);
    }

    .Button.white:active {
        background-color: var(--color-ui-hover);
    }

    .Button.green:active,
    .Button.red:active,
    .Button.white:active {
        box-shadow: 0 0 10px 1px var(--color-text-white);
    }
}